<%- include('partials/_header'); %>

  <div class="container">

    <div class="row">
      <!--FORM-->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3>Agregar Usuario</h3>
            <form action="/add" method="post">

              <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="Correo Electrónico">
              </div>

           <!--    <div class="mb-3">
                <label for="disabledSelect" class="form-label">Rol</label>
                <select id="disabledSelect" class="form-select">
                  <option>Administrador</option>
                  <option>Usuario</option>
                </select>
              </div> -->

              <div class="form-group">
                <input class="form-control" type="text" name="rol" placeholder="Rol">
              </div>
              
              <div class="form-group">
                <input class="form-control" type="text" name="password" placeholder="Contraseña">
              </div>

              <button class="btn btn-primary" type="submit">
                Agregar
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-auto">
      <div class="row">

        <h3>Listado</h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Correo Electrónico</th>
              <th>Rol</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < tasks.length; i++) { %>
              <tr>
                <td><strong>
                  <%= tasks[i].name %>
                  </strong></td>
                <td><strong>
                    <%= tasks[i].email %>
                  </strong></td>
                <td><strong>
                    <%= tasks[i].rol %>
                  </strong></td>
              
                <td>
                  <a href="/edit/<%= tasks[i]._id %>" class="btn btn-success">
                    Editar
                  </a>

                  <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">
                    Borrar
                  </a>
                </td>

              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%- include ("partials/_footer"); %>